{% extends 'app/admin-base.html' %}
{% block body %}
{% load my_filter %}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Careers - Apply-->
           <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    {% for message in messages %}
                    <!--begin::Alert-->
                    <div class="alert alert-dismissible {{message.tags}} d-flex flex-column flex-sm-row p-5 mb-10">
                        <div class="d-flex flex-column text-dark pt-3">
                            <strong>Message! {{message}}</strong>
                            <!--end::Content-->
                        </div>
                        <button type="button"
                            class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto"
                            data-bs-dismiss="alert">
                            <span class="svg-icon svg-icon-2x svg-icon-light">
                                <span class="svg-icon svg-icon-2x svg-icon-light">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                            transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                                        <rect x="7.41422" y="6" width="16" height="2" rx="1"
                                            transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                                    </svg>
                                </span>
                            </span>
                        </button>
                        <!--end::Close-->
                    </div>
                    <!--end::Alert-->
    
                    {% endfor %}
                    <!--begin::Body-->
                    <div class="card-body p-lg-17">
                        <!--begin::Layout-->
                        <div class="d-flex flex-column flex-lg-row mb-17">
                            <!--begin::Content-->
                            <div class="flex-lg-row-fluid me-0">
                                <!--begin::Form-->
                                <h2 class="text-center"> Initialize Group</h2>
                                <form action="" class="form mb-15" method="post" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <!--begin::Input group-->
                                    <div class="row mb-5">
                                        <div class="d-flex flex-column mb-5 fv-row">
                                            <!--end::Label-->
                                            <label class="required fs-5 fw-semibold mb-2">Select Group</label>
                                            <!--end::Label-->
                                            {{form.group|addclass:'form-control form-control-solid'|addplaceholder:'Group Nane'}}
                                            {{form.group.errors}}
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="d-flex flex-column mb-5 fv-row">
                                            <!--end::Label-->
                                            <label class="required fs-5 fw-semibold mb-2">Select Agent</label>
                                            <!--end::Label-->
                                            {{form.agent|addclass:'form-control form-control-solid'|addplaceholder:'Group Nane'}}
                                            {{form.agent.errors}}
                                        </div>
                                    </div>
                                   
                                    <div class="row mb-5">
                                        <div class="d-flex flex-column mb-5 fv-row">
                                            <div class="form-check form-check-custom form-check-solid">
                                                {{form.is_admin|addclass:'form-check-input'|addplaceholder:'Group Nane'}}
                                                {{form.is_admin.errors}}
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Is Admin
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <button type="submit" class="btn btn-primary mx-auto" id="kt_careers_submit_button">
                                        <!--begin::Indicator label-->
                                        <span class="indicator-label">Assign</span>
                                        <!--end::Indicator label-->
                                        <!--begin::Indicator progress-->
                                        <span class="indicator-progress">Please wait...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                        <!--end::Indicator progress-->
                                    </button>
                                    <!--end::Submit-->
                                </form>
                                <!--end::Form-->
                            </div>
                            <!--end::Content-->
    
                        </div>
                        <!--end::Layout-->
    
                    </div>
                    <!--end::Body-->
                </div>
            </div>
           </div>
            <!--end::Careers - Apply-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
{% endblock %}