{% extends 'app/admin-base.html' %}
{% block body %}
{% for message in messages %}
<!--begin::Alert-->
<div class="alert alert-dismissible {{message.tags}} d-flex flex-column flex-sm-row m-4 p-3 mb-10">
    <div class="d-flex flex-column pt-3">
        <strong>Message! {{message}}</strong> 
        <!--end::Content-->
    </div>
    <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
        <span class="svg-icon svg-icon-2x ">
            <span class="svg-icon svg-icon-2x ">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                </svg>
            </span>
        </span>
    </button>
    <!--end::Close-->
</div>
<!--end::Alert-->

{% endfor %}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Card-->
            <div class="card">
                
                <div class="card-body py-4">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                               
                                <th class="min-w-125px">Associate ID</th>
                                <th class="min-w-125px">Full Name</th>
                                <th class="min-w-125px">Amount</th>
                                <th class="min-w-125px">status</th>
                                <th class="min-w-125px">Request Date</th>
                                
                                <th class="text-end min-w-100px">Actions</th>
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="text-gray-600 fw-semibold">
                           {% for withdrawal in withdrawals %}
                            <tr>
                               
                                <td>
                                    <b>{{withdrawal.user.sponsor_id}}</b><br>
                                    
                                </td>
                                <td>
                                    <b>{{withdrawal.user.first_name}} {{withdrawal.user.last_name}}</b><br>
                                    <span>{{withdrawal.user.email}}</span>
                                </td>
                                <td>{{withdrawal.amount}}</td>
                                {% if withdrawal.status == 'pending' %}
                                <td><span class="badge badge-light-warning">Pending</span></td>
                                {% endif %}
                                {% if withdrawal.status == 'disapproved' %}
                                <td><span class="badge badge-light-danger">Disapproved</span></td>
                                {% endif %}
                                {% if withdrawal.status == 'approved' %}
                                <td><span class="badge badge-light-success">Approved</span></td>
                                {% endif %}
                                <td>{{withdrawal.created_at|date}}</td>
                              
                                <td class="text-end">
                                    <a href="{% url 'ViewAgentWithrawalsDetailsView' withdrawal.id %}" class="btn btn-success btn-active-light-primary btn-sm">View Details 
                                   
                                </a>
                                  
                                </td>
                                <!--end::Action=-->
                            </tr>
                            <!--end::Table row-->
                            {% endfor %}
                            <!--end::Table row-->
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
{% endblock %}