{% extends 'home/base.html' %}
{% block body %}
{% load static %}
<section class="blog-wrap6">
    <div class="container">
        <div class="row gutters-40">
            <div class="col-lg-4 widget-break-lg sidebar-widget">
                <div class="widget widget-categoery-box">
                    <h3 class="widget-subtitle">Hi Anand</h3>
                    <ul class="categoery-list">
                        <li><a href="single-listing1.html">Apartments</a></li>
                        <li><a href="single-listing2.html">Corporate Building</a></li>
                        <li><a href="single-listing3.html">Home Land</a></li>
                        <li><a href="single-listing1.html">Family House</a></li>
                        <li><a href="single-listing2.html">Real Homes</a></li>
                        <li><a href="single-listing3.html">Realty Space</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class=" widget widget-categoery-box">
                            <div class="title">
                              <h1>Your EMI</h1>
                            </div>
                            <div class="events">
                              <div class="event">
                                <div class="knob"></div>
                                <div class="date">
                                  <h2>2019</h2>
                                </div>
                                <div class="description">
                                  <p><strong>The Rise of the Skywalker </strong><span>Episode IX</span></p>
                                  <p>J. J. Abrams</p>
                                </div>
                              </div>
                              <div class="event">
                                <div class="knob"></div>
                                <div class="date">
                                  <h2>2018</h2>
                                </div>
                                <div class="description">
                                  <p><strong>Solo </strong><span>Anthology</span></p>
                                  <p>Ron Howard</p>
                                </div>
                              </div>
                              <div class="event">
                                <div class="knob"></div>
                                <div class="date">
                                  <h2>2017</h2>
                                </div>
                                <div class="description">
                                  <p><strong>The Last Jedi </strong><span>Episode VIII</span></p>
                                  <p>Rian Johnson</p>
                                </div>
                              </div>
                              
                              <div class="event">
                                <div class="knob"></div>
                                <div class="date">
                                  <h2>2016</h2>
                                </div>
                                <div class="description">
                                  <p><strong>Rogue One </strong><span>Anthology</span></p>
                                  <p>Gareth Edwards</p>
                                </div>
                              </div>
                              
                              <div class="event">
                                <div class="knob"></div>
                                <div class="date">
                                  <h2>2015</h2>
                                </div>
                                <div class="description">
                                  <p><strong>The Force Awakens </strong><span>Episode VII</span></p>
                                  <p>J. J. Abrams</p>
                                </div>
                              </div>
                              
                              <div class="event">
                                <div class="knob"></div>
                                <div class="date">
                                  <h2>2005</h2>
                                </div>
                                <div class="description">
                                  <p><strong>Revenge of the Sith </strong><span>Episode III</span></p>
                                  <p>George Lucas</p>
                                </div>
                              </div>
                              
                              <div class="event">
                                <div class="knob"></div>
                                <div class="date">
                                  <h2>2002</h2>
                                </div>
                                <div class="description">
                                  <p><strong>Attack of the Clones </strong><span>Episode II</span></p>
                                  <p>George Lucas</p>
                                </div>
                              </div>
                              
                              <div class="event">
                                <div class="knob"></div>
                                <div class="date">
                                  <h2>1999</h2>
                                </div>
                                <div class="description">
                                  <p><strong>The Phantom Menace </strong><span>Episode I</span></p>
                                  <p>George Lucas</p>
                                </div>
                              </div>
                              
                              <div class="event">
                                <div class="knob"></div>
                                <div class="date">
                                  <h2>1983</h2>
                                </div>
                                <div class="description">
                                  <p><strong>Return of the Jedi </strong><span>Episode VI</span></p>
                                  <p>Richard Marquand</p>
                                </div>
                              </div>
                              
                              <div class="event">
                                <div class="knob"></div>
                                <div class="date">
                                  <h2>1980</h2>
                                </div>
                                <div class="description">
                                  <p><strong>The Empire Strikes Back </strong><span>Episode V</span></p>
                                  <p>Irvin Kershner</p>
                                </div>
                              </div>
                              
                              <div class="event">
                                <div class="knob"></div>
                                <div class="date">
                                  <h2>1977</h2>
                                </div>
                                <div class="description">
                                  <p><strong>A New Hope </strong><span>Episode IV</span></p>
                                  <p>George Lucas</p>
                                </div>
                              </div>
                              <div class="line"></div>
                            </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}