{% extends 'home/base.html' %}

{% block body %}
{% load static %}
<!--=   Location     Start              =-->
<!--=====================================-->
<section class="location-wrap1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-7 col-sm-12">
                <div class="item-heading-center">
                    <h2 class="section-title mx-autu">Green Valley Plots Availability</h2>
                    <div class="bg-title-wrap" style="display: block;">
                        <span class="background-title solid">Availability</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        
        <div class="table-responsive">
            <table class="table border mx-auto" style="height: 384px; background: white; width: 975px;">
                <tbody>
                    
                    <tr>
                        <td>&nbsp;</td>
                        <td class="pt-4" width=""><strong class="freeze p-2"><span>Hold</span></strong></td>
                        <td class="pt-4" width=""><strong class="available p-2"><span>Available</span></strong></td>
                        <td class="pt-4" width=""><span><strong class="booked p-2">Booked</strong></span></td>
                        <td class="pt-4" width=""><span><strong class="pending p-2">Pending</strong></span></td>
                        <td class="pt-4" width=""><span><strong class="registered p-2">Registered</strong></span></td>
                        
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                    </tr>
                    
                    <tr>
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 01</strong></span></td>
                        <td><span><strong class="available p-2">A- 02</strong></span></td>
                        <td><span><strong class="available p-2">A- 03</strong></span></td>
                        <td><span><strong class="booked p-2">A- 04</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">A- 05</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 06</strong></span></td>
                        <td><span><strong class="available p-2">A- 07</strong></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                       
                        <td><span><strong class="available p-2">A- 14</strong></span></td>
                        <td><span><strong class="available p-2">A- 13</strong></span></td>
                        <td><span><strong class="available p-2">A- 12</strong></span></td>
                        <td><span><strong class="booked p-2">A- 11</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">A- 10</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 09</strong></span></td>
                        <td><span><strong class="available p-2">A- 08</strong></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 15</strong></span></td>
                        <td><span><strong class="available p-2">A- 16</strong></span></td>
                        <td><span><strong class="available p-2">A- 17</strong></span></td>
                        <td><span><strong class="booked p-2">A- 18</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">A- 19</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 20</strong></span></td>
                        <td><span><strong class="available p-2">A- 21</strong></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 28</strong></span></td>
                        <td><span><strong class="available p-2">A- 27</strong></span></td>
                        <td><span><strong class="available p-2">A- 26</strong></span></td>
                        <td><span><strong class="booked p-2">A- 25</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">A- 24</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 23</strong></span></td>
                        <td><span><strong class="available p-2">A- 22</strong></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 29</strong></span></td>
                        <td><span><strong class="available p-2">A- 30</strong></span></td>
                        <td><span><strong class="available p-2">A- 31</strong></span></td>
                        <td><span><strong class="booked p-2">A- 32</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">A- 33</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 34</strong></span></td>
                        <td><span><strong class="available p-2">A- 35</strong></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                       
                        <td><span><strong class="available p-2">A- 42</strong></span></td>
                        <td><span><strong class="available p-2">A- 41</strong></span></td>
                        <td><span><strong class="available p-2">A- 40</strong></span></td>
                        <td><span><strong class="booked p-2">A- 39</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">A- 38</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 37</strong></span></td>
                        <td><span><strong class="available p-2">A- 36</strong></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    
                    <tr>
                        <td>&nbsp;</td>
                        
                        <td><span><strong class="available p-2" >A- 43</strong></span></td>
                        <td><span><strong class="available p-2">A- 44</strong></span></td>
                        <td><span><strong class="available p-2">A- 45</strong></span></td>
                        <td><span><strong class="available p-2">A- 46</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 47</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 48</strong></span></td>
                        <td><span><strong class="available p-2">A- 49</strong></span></td>
                        <td><span><strong class="available p-2">A- 50</strong></span></td>
                        <td><span><strong class="booked p-2">A- 51</strong></span></td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2" >A- 60</strong></span></td>
                        <td><span><strong class="available p-2">A- 59</strong></span></td>
                        <td><span><strong class="available p-2">A- 58</strong></span></td>
                        <td><span><strong class="available p-2">A- 57</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 56</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 55</strong></span></td>
                        <td><span><strong class="available p-2">A- 54</strong></span></td>
                        <td><span><strong class="available p-2">A- 53</strong></span></td>
                        <td><span><strong class="booked p-2">A- 52</strong></span></td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2" >A- 61</strong></span></td>
                        <td><span><strong class="booked p-2">A- 62</strong></span></td>
                        <td><span><strong class="available p-2">A- 63</strong></span></td>
                        <td><span><strong class="available p-2">A- 64</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">A- 65</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">A- 66</strong></span></td>
                        <td><span><strong class="available p-2">A- 67</strong></span></td>
                        <td><span><strong class="available p-2">A- 68</strong></span></td>
                        <td><span><strong class="available p-2">A- 69</strong></span></td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 74</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">A- 73</strong></span></td>
                        <td><span><strong class="available p-2">A- 72</strong></span></td>
                        <td><span><strong class="available p-2">A- 71</strong></span></td>
                        <td><span><strong class="available p-2">A- 70</strong></span></td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2" >B- 01</strong></span></td>
                        <td><span><strong class="available p-2">B- 02</strong></span></td>
                        <td><span><strong class="available p-2">B- 03</strong></span></td>
                        <td><span><strong class="available p-2">B- 04</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 05</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 06</strong></span></td>
                        <td><span><strong class="available p-2">B- 07</strong></span></td>
                        <td><span><strong class="booked p-2">B- 08</strong></span></td>
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">B- 09</strong></span></td>
                        <td>&nbsp;</td>
                        
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 17</strong></span></td>
                        <td><span><strong class="available p-2" >B- 16</strong></span></td>
                        <td><span><strong class="available p-2">B- 15</strong></span></td>
                        <td><span><strong class="available p-2">B- 14</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 13</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 12</strong></span></td>
                        <td><span><strong class="available p-2">B- 11</strong></span></td>
                        <td><span><strong class="booked p-2">B- 10</strong></span></td>
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 18</strong></span></td>
                        <td><span><strong class="available p-2" >B- 19</strong></span></td>
                        <td><span><strong class="available p-2">B- 20</strong></span></td>
                        <td><span><strong class="available p-2">B- 21</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 22</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 23</strong></span></td>
                        <td><span><strong class="available p-2">B- 24</strong></span></td>
                        <td><span><strong class="available p-2">B- 25</strong></span></td>
                        <td><span><strong class="booked p-2">B- 26</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 27</strong></span></td>
                        <td>&nbsp;</td>
                        
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 36</strong></span></td>
                        <td><span><strong class="available p-2" >B- 35</strong></span></td>
                        <td><span><strong class="available p-2">B- 34</strong></span></td>
                        <td><span><strong class="available p-2">B- 33</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 32</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 31</strong></span></td>
                        <td><span><strong class="available p-2">B- 30</strong></span></td>
                        <td><span><strong class="available p-2">B- 29</strong></span></td>
                        <td><span><strong class="booked p-2">B- 28</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 37</strong></span></td>
                        <td><span><strong class="available p-2" >B- 38</strong></span></td>
                        <td><span><strong class="available p-2">B- 39</strong></span></td>
                        <td><span><strong class="available p-2">B- 40</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 41</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 42</strong></span></td>
                        <td><span><strong class="available p-2">B- 43</strong></span></td>
                        <td><span><strong class="available p-2">B- 44</strong></span></td>
                        <td><span><strong class="available p-2">B- 45</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 54</strong></span></td>
                        <td><span><strong class="available p-2" >B- 53</strong></span></td>
                        <td><span><strong class="available p-2">B- 52</strong></span></td>
                        <td><span><strong class="available p-2">B- 51</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">B- 50</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 49</strong></span></td>
                        <td><span><strong class="available p-2">B- 48</strong></span></td>
                        <td><span><strong class="available p-2">B- 47</strong></span></td>
                        <td><span><strong class="available p-2">B- 46</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 55</strong></span></td>
                        <td><span><strong class="available p-2" >B- 56</strong></span></td>
                        <td><span><strong class="available p-2">B- 57</strong></span></td>
                        <td><span><strong class="available p-2">B- 58</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 59</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 60</strong></span></td>
                        <td><span><strong class="available p-2">B- 61</strong></span></td>
                        <td><span><strong class="available p-2">B- 62</strong></span></td>
                        <td><span><strong class="available p-2">B- 63</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 72</strong></span></td>
                        <td><span><strong class="available p-2" >B- 71</strong></span></td>
                        <td><span><strong class="available p-2">B- 70</strong></span></td>
                        <td><span><strong class="available p-2">B- 69</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 68</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 67</strong></span></td>
                        <td><span><strong class="available p-2">B- 66</strong></span></td>
                        <td><span><strong class="available p-2">B- 65</strong></span></td>
                        <td><span><strong class="available p-2">B- 64</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 73</strong></span></td>
                        <td><span><strong class="available p-2" >B- 74</strong></span></td>
                        <td><span><strong class="available p-2">B- 75</strong></span></td>
                        <td><span><strong class="available p-2">B- 76</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 77</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">B- 78</strong></span></td>
                        
                        
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>


                    <tr>
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2" >C- 01</strong></span></td>
                        <td><span><strong class="available p-2">C- 02</strong></span></td>
                        <td><span><strong class="available p-2">C- 03</strong></span></td>
                        <td><span><strong class="available p-2">C- 04</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 05</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 06</strong></span></td>
                        <td><span><strong class="available p-2">C- 07</strong></span></td>
                        <td><span><strong class="available p-2">C- 08</strong></span></td>
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">C- 09</strong></span></td>
                        <td>&nbsp;</td>
                        
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 17</strong></span></td>
                        <td><span><strong class="available p-2" >C- 16</strong></span></td>
                        <td><span><strong class="available p-2">C- 15</strong></span></td>
                        <td><span><strong class="available p-2">C- 14</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 13</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 12</strong></span></td>
                        <td><span><strong class="booked p-2">C- 11</strong></span></td>
                        <td><span><strong class="available p-2">C- 10</strong></span></td>
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 18</strong></span></td>
                        <td><span><strong class="available p-2" >C- 19</strong></span></td>
                        <td><span><strong class="available p-2">C- 20</strong></span></td>
                        <td><span><strong class="available p-2">C- 21</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 22</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 23</strong></span></td>
                        <td><span><strong class="available p-2">C- 24</strong></span></td>
                        <td><span><strong class="available p-2">C- 25</strong></span></td>
                        <td><span><strong class="booked p-2">C- 26</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 27</strong></span></td>
                        <td>&nbsp;</td>
                        
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 36</strong></span></td>
                        <td><span><strong class="available p-2" >C- 35</strong></span></td>
                        <td><span><strong class="available p-2">C- 34</strong></span></td>
                        <td><span><strong class="available p-2">C- 33</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 32</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 31</strong></span></td>
                        <td><span><strong class="available p-2">C- 30</strong></span></td>
                        <td><span><strong class="available p-2">C- 29</strong></span></td>
                        <td><span><strong class="booked p-2">C- 28</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 37</strong></span></td>
                        <td><span><strong class="available p-2" >C- 38</strong></span></td>
                        <td><span><strong class="available p-2">C- 39</strong></span></td>
                        <td><span><strong class="available p-2">C- 40</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 41</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 42</strong></span></td>
                        <td><span><strong class="available p-2">C- 43</strong></span></td>
                        <td><span><strong class="available p-2">C- 44</strong></span></td>
                        <td><span><strong class="available p-2">C- 45</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 54</strong></span></td>
                        <td><span><strong class="available p-2" >C- 53</strong></span></td>
                        <td><span><strong class="available p-2">C- 52</strong></span></td>
                        <td><span><strong class="available p-2">C- 51</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 50</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 49</strong></span></td>
                        <td><span><strong class="available p-2">C- 48</strong></span></td>
                        <td><span><strong class="available p-2">C- 47</strong></span></td>
                        <td><span><strong class="available p-2">C- 46</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 55</strong></span></td>
                        <td><span><strong class="available p-2" >C- 56</strong></span></td>
                        <td><span><strong class="available p-2">C- 57</strong></span></td>
                        <td><span><strong class="available p-2">C- 58</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 59</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 60</strong></span></td>
                        <td><span><strong class="available p-2">C- 61</strong></span></td>
                        <td><span><strong class="available p-2">C- 62</strong></span></td>
                        <td><span><strong class="available p-2">C- 63</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 72</strong></span></td>
                        <td><span><strong class="available p-2" >C- 71</strong></span></td>
                        <td><span><strong class="available p-2">C- 70</strong></span></td>
                        <td><span><strong class="available p-2">C- 69</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 68</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">C- 67</strong></span></td>
                        <td><span><strong class="available p-2">C- 66</strong></span></td>
                        <td><span><strong class="available p-2">C- 65</strong></span></td>
                        <td><span><strong class="available p-2">C- 64</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">D- 09</strong></span></td>
                        <td><span><strong class="available p-2" >D- 08</strong></span></td>
                        <td><span><strong class="available p-2">D- 07</strong></span></td>
                        <td><span><strong class="available p-2">D- 06</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">D- 05</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">D- 04</strong></span></td>
                        <td><span><strong class="available p-2">D- 03</strong></span></td>
                        <td><span><strong class="available p-2">D- 02</strong></span></td>
                        <td><span><strong class="available p-2">D- 01</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">D- 10</strong></span></td>
                        <td><span><strong class="available p-2" >D- 11</strong></span></td>
                        <td><span><strong class="available p-2">D- 12</strong></span></td>
                        <td><span><strong class="available p-2">D- 13</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">D- 14</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">D- 15</strong></span></td>
                        <td><span><strong class="available p-2">D- 16</strong></span></td>
                        <td><span><strong class="available p-2">D- 17</strong></span></td>
                        <td><span><strong class="available p-2">D- 18</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                        <td><span><strong class="available p-2">D- 24</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">D- 23</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">D- 22</strong></span></td>
                        <td><span><strong class="available p-2">D- 21</strong></span></td>
                        <td><span><strong class="available p-2">D- 20</strong></span></td>
                        <td><span><strong class="available p-2">D- 19</strong></span></td>
                        
                        
                        <td>&nbsp;</td>
                        
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="col lg-12 text-center">
            <div class="item-img">
                
                <img src="{% static 'Frontend_Files/plot/Green-Valley.jpg' %}" style="width: 960px;">
            </div>
        </div>

    </div>
</section>
<!--=====================================-->
{% endblock %}