{% extends 'home/base.html' %}
{% block body %}
{% load my_filter %}
 <!--=   Account     Start               =-->
    <!--=====================================-->

    <main class="site-main content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-6 mx-auto">
                    <div class="page-content-block mx-auto">
                        <div class="col-md-12 rtcl-login-form-wrap">
                            {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong></strong> {{message}}

                    </div>

                    {% endfor %}
                            <h2>Customer Login</h2>
                            <form id="rtcl-login-form" class="form-horizontal" autocomplete="off" method="post" novalidate="novalidate">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="rtcl-user-login" class="control-label">
                                        Username
                                        <strong class="rtcl-required">*</strong>
                                    </label>
                                    {{form.customer_username|addclass:"form-control"|addplaceholder:"Enter username"}}
                                </div>
                                <div class="form-group">
                                    <label for="rtcl-user-pass" class="control-label">
                                        Password <strong class="rtcl-required">*</strong>
                                    </label>
                                    {{form.customer_password|addclass:"form-control"|addplaceholder:"Password"}}
                                </div>
                                <div class="form-group d-flex align-items-center">
                                <button type="submit" name="rtcl-login" class="btn btn-primary" value="login">
                                    Login
                                </button>
                                <div class="form-check">
                                    <input  type="checkbox" name="rememberme" id="rtcl-rememberme" value="forever"/>
                                    <label  class="form-check-label" for="rtcl-rememberme"> Remember Me</label>
                                </div>
                                </div>
                                <div class="form-group">
                                    <p class="rtcl-forgot-password">
                                        <a href="#">Forgot Your Password</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
       
    <!--=====================================-->

{% endblock  %}