{% extends 'home/base.html' %}

{% block body %}
{% load static %}
<!--=   Location     Start              =-->
<!--=====================================-->
<section class="location-wrap1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-7 col-sm-12">
                <div class="item-heading-center">
                    <h2 class="section-title mx-autu">Plot Availability</h2>
                    <div class="bg-title-wrap" style="display: block;">
                        <span class="background-title solid">Availability</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table border mx-auto" style="height: 384px; background: white; width: 975px;">
                <tbody>
                    <tr>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td class="pt-4" width=""><strong class="freeze p-2"><span>Freeze</span></strong></td>
                        <td class="pt-4" width=""><strong class="available p-2"><span>Available</span></strong></td>
                        <td class="pt-4" width=""><span><strong class="booked p-2">Booked</strong></span></td>
                        <td class="pt-4" width=""><span><strong class="registered p-2">Registered</strong></span></td>
                        
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                        <td width="">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span><strong class="registered p-2" >P- 45</strong></span></td>
                        <td><span><strong class="booked p-2">P- 44</strong></span></td>
                        <td><span><strong class="booked p-2">P- 43</strong></span></td>
                        <td><span><strong class="booked p-2">P- 42</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="registered p-2">P- 41</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">P- 40</strong></span></td>
                        <td><span><strong class="registered p-2">P- 39</strong></span></td>
                        <td>&nbsp;</td>
                        
                        <td><span><strong class="available p-2">P- 38</strong></span></td>
                        <td><span><strong class="available p-2">P- 37</strong></span></td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">P- 31</strong></span></td>
                        <td><span><strong class="available p-2">P- 32</strong></span></td>
                        <td><span><strong class="available p-2">P- 33</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">P- 34</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">P- 35</strong></span></td>
                        <td><span><strong class="available p-2">P- 36</strong></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span><strong class="registered p-2">P- 30</strong></span></td>
                        <td><span><strong class="available p-2">P- 29</strong></span></td>
                        <td><span><strong class="registered p-2">P- 28</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">P- 27</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">P- 26</strong></span></td>
                        <td><span><strong class="available p-2">P- 25</strong></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    {% comment %} <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr> {% endcomment %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span><strong class="registered p-2">P- 17</strong></span></td>
                        <td><span><strong class="registered p-2">P- 18</strong></span></td>
                        <td><span><strong class="registered p-2">P- 19</strong></span></td>
                        <td><span><strong class="available p-2">P- 20</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">P- 21</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">P- 22</strong></span></td>
                        <td><span><strong class="available p-2">P- 23</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="available p-2">P- 24</strong></span></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span><strong class="registered p-2">P- 16</strong></span></td>
                        <td><span><strong class="registered p-2">P- 15</strong></span></td>
                        <td><span><strong class="registered p-2">P- 14</strong></span></td>
                        <td><span><strong class="registered p-2">P- 13</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="registered p-2">P- 12</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">P- 11</strong></span></td>
                        <td><span><strong class="booked p-2">P- 10</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="booked p-2">P- 09</strong></span></td>
                        <td>&nbsp;</td>
                    </tr>
                    {% comment %} <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr> {% endcomment %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span><strong class="registered p-2">P- 01</strong></span></td>
                        <td><span><strong class="registered p-2">P- 02</strong></span></td>
                        <td><span><strong class="booked p-2">P- 03</strong></span></td>
                        <td><span><strong class="booked p-2">P- 04</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="registered p-2">P- 05</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="registered p-2">P- 06</strong></span></td>
                        <td><span><strong class="registered p-2">P- 07</strong></span></td>
                        <td>&nbsp;</td>
                        <td><span><strong class="registered p-2">P- 08</strong></span></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                </tbody>
            </table>
            
        </div>
        <div class="col lg-12 text-center">
            <div class="item-img">
                <img src="{% static 'Frontend_Files/plot/golden-city.jpg' %}" style="width: 700px;">
            </div>
        </div>

    </div>
</section>
<!--=====================================-->
{% endblock %}