{% extends 'home/base.html' %}
{% block body %}
<!--=====================================-->

<section class="blog-wrap6">
    <div class="container">
        <div class="item-heading-center mb-20">
            <h2 class="section-title">Recon Group Privacy Policy</h2>
            <div class="bg-title-wrap" style="display: block;">
                <span class="background-title solid">Privacy Policy</span>
            </div>
        </div>
        <div class="row gutters-40">
            <div class="col-lg-8 mx-auto">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-box1 blog-box3 wow fadeInUp" data-wow-delay=".4s">
                            
                            <div class="item-content">
                                <div class="heading-title title-style-2">
                                    <p>This privacy policy is prepared by Recon Group to ensure the safe collection, use,
                                        and disclosure of personal information on this website. 
                                        If any website visitors want to utilize our service, they should be aware of our
                                        rules and terms regarding the collection, use, and sharing of their private information.

                                    </p>
                                    <p>
                                        If you choose to use our service, you consent to the collection and use of your information
                                        in accordance with this policy. We collect your personal information on this website to
                                        deliver and enhance our services. We at Recon Group ensure that we won't use or
                                        disclose your information in any other way than what is stated in this privacy statement.
                                    </p>
                                    <h3>Information Gathering and Utilization by Recon Group</h3>
                                    <p>
                                        We at Recon Group might ask you to provide certain personally identifiable information, such as your name, phone number, and address so that er can improve our services and user experience on this website. 
                                        We will use this data to offer better results or recognize you.
                                    </p>
                                    <h3>
                                        Log Data 
                                    </h3>
                                    <p>
                                        Whenever a visitor uses our service or visits our website,
                                         we collect information from their browser known as "Log Data”.
                                          The Internet Protocol ("IP") address, browser details, webpages you 
                                          visit, time and date of visits, time spent on pages,
                                         and other data may also be included in it. 
                                    </p>
                                    <h3>Cookies</h3>
                                    <p>
                                        Cookies are little data files used as anonymous unique identifiers. whenever you visit
                                         our website we ask you to allow us to collect and use your cookies information.
                                          We provide our users complete access to accept or reject cookies collect. However,
                                           in such cases,
                                        you won’t be able to use several services on this website by declining the cookies collection. 
                                    </p>
                                    <p>
                                        We use these  "cookies" to collect data and enhance our service on this website.
                                         You can decide whether you want improved services or not. 
                                    </p>
                                    <h3>Security</3>
                                    <p>
                                        We appreciate your action in entrusting us with your personal information, 
                                        so we make every effort to protect it through legally permissible measures. 
                                        But unfortunately, you have to keep in mind that no technique of electronic storage or 
                                        communication via the internet is 100% secure. Thus, 
                                        we cannot offer 100% safe and secure services on the internet. 
                                    </p>
                                    <h3>Links to Other Websites</h3>
                                    <p>
                                        You might find several links to other websites in this website. 
                                        These third-party links are used to improve services and it  will 
                                        take you those third-party websites if you click on it. Please note that 
                                        we don't run these third-partyy websites nor gain any profits from these websites. 
                                        In such a case, we strongly suggest that you read the privacy policies of these websites. 
                                        We strictly inform you that the content, privacy practices, 
                                        or other policies of any third-party websites or 
                                        services are beyond our control and responsibility.
                                    </p>
                                    <h3>Children's Privacy</h3>
                                    <p>
                                        We at Recon Group want to inform you that we don’t target anyone under the age of 18 with our services on this website. 
                                        Children under 18 are not deliberately subjected to our collection of personally identifiable information. If we learn that a minor under the age of 18 has given us personal information, we immediately remove it from our servers. 
                                    </p>
                                    <p>
                                        Please get in touch with using our contact details if you are a parent or 
                                        guardian and you are aware that your child has given us his/her personal 
                                        information in any kind so that we can take the appropriate action.
                                    </p>
                                    <h3>Updates to the Privacy Policies</h3>
                                    <p>
                                        Our privacy policy may be updated from time to time. As a result, 
                                        we urge you to keep a checkon this policy frequently for new updates. 
                                        Any modifications on this privacy policy will be communicated to you by 
                                        posting the updated on top of the Privacy Policy on this page. Once they are 
                                        posted on this website of Recon Group, the modifications take effect right away. 
                                        For more detail you can contact us at support@reconinfra.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<!--=====================================-->

{% endblock  %}