{% extends 'home/base.html' %}
{% block body %}
<!--=====================================-->

<section class="blog-wrap6">
    <div class="container">
        <div class="item-heading-center mb-20">
            <h2 class="section-title">Recon Group Terms & Conditions</h2>
            <div class="bg-title-wrap" style="display: block;">
                <span class="background-title solid">Terms & Conditions</span>
            </div>
        </div>
        <div class="row gutters-40">
            <div class="col-lg-8 mx-auto">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-box1 blog-box3 wow fadeInUp" data-wow-delay=".4s">
                            
                            <div class="item-content">
                                
                                <div class="heading-title title-style-2">
                                    
                                    <p>We at Recon Group request our visitors to read the terms and 
                                        conditions policy mentioned on our website, carefully 
                                        and thoroughly before accessing our services. 
                                        These terms and conditions act as basic guidelines 
                                        you must keep in mind while accessing the services at 
                                        Recon Group's site. We consider your continued usage of 
                                        the website and our services as clear indication of your 
                                        acceptance of our terms and conditions policy and thereon we 
                                        shall not entertain or be responsible for your disagreements later. 
                                        Hence you are advised not to use the Recon Group site if you do not 
                                        agree with our terms and conditions policy.
                                    </p>
                                    <p>
                                        Copyright - Each and every element available on Recon Infra Group's website- Logo, Content, Images, Text, Graphics, Links, and, prices are Copyright properties of Recon Group and are subject to change as when required. In case of any fraudulent activities or use of copyrighted elements, we are free to take strict action. Hence you as users are advised not to make any personal use of it without our prior written approval or else we will be liable to take strict action in case the need be.
                                    </p>
                                    <p>
                                        Access to Information - All the Information mentioned on Recon Group's website is absolutely personal, research & analysis based, and subject to change. Also, this information is written after thorough research and may subject to changes from time to time. We at Recon Group do not guarantee our users the accuracy and quality of the information available on this website. Hence we shall not be responsible for any losses which occur as a result due to the quality or accuracy of the data.
                                    </p>
                                    <p>
                                        Liability - We at Recon Group will, in no case be liable for any damage or losses of any nature or expenses arising in connection with any of our services through this website. Hence you all are responsible to use our services and information at your own risk. 
                                    </p>
                                    <p>
                                        Data Submission - All the data submitted by you to us through this website will remain our responsibility and we take complete measures to keep your information safe. We do not sell our data to any third parties for marketing services. Thus, your data security will be our first priority.
                                    </p>
                                    <p>
                                        Third-Party Links - Recon Group's website may contain several third-party links for improved services or other purposes and we do not hold ourselves responsible for any inaccurate or misleading information available on any of these websites connected to us through a third-party link, nor do we endorse any kind of product or services offered by any of such website.
                                    </p>
                                    <p>
                                        This terms and condition policy is directly related to our privacy policy. In order to maintain the quality of services and security on this website, we need to update our policies frequently. We would like to inform our visitors to check on these updates by visiting this policy frequently. All the changes to this policy will be highlighted on top of the policy pages. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<!--=====================================-->

{% endblock  %}