{% extends 'app/admin-base.html' %}
{% block body %}
{% load my_filter %}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Careers - Apply-->
            <div class="page-header mb-4">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Dashboard</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/app/" class="p-1">
                                        <i class="fas fa-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Plot Booking</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                {% for message in messages %}
                <!--begin::Alert-->
                <div class="alert alert-dismissible {{message.tags}} d-flex flex-column flex-sm-row p-5 mb-10">
                    <div class="d-flex flex-column text-light pt-3">
                        <strong>Message! {{message}}</strong>
                        <!--end::Content-->
                    </div>
                    <button type="button"
                        class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto"
                        data-bs-dismiss="alert">
                        <span class="svg-icon svg-icon-2x svg-icon-light">
                            <span class="svg-icon svg-icon-2x svg-icon-light">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                        transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1"
                                        transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                                </svg>
                            </span>
                        </span>
                    </button>
                    <!--end::Close-->
                </div>
                <!--end::Alert-->

                {% endfor %}
                <!--begin::Body-->
                <div class="card-header">
                    <h2 class="text-center pt-3"> Plot Booking Form</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!--begin::Layout-->
                        <div class="col-lg-8 mx-auto">
                            <div class="d-flex flex-column flex-lg-row mb-17">
                                <!--begin::Content-->
                                <div class="flex-lg-row-fluid me-0 me-lg-20">
                                    <!--begin::Form-->
                                    <form action="" class="form mb-15" method="post" novalidate>
                                        {% csrf_token %}
                                        
                                        <div class="row mb-5">
                                            <div class="d-flex flex-column mb-5 fv-row">
                                               
                                                
                                                <label class="d-flex align-items-center fs-5 fw-semibold mb-2">
                                                    <span class="required">location</span>
                                                </label>
                                                {{form.location|addclass:'form-control form-control-solid'|addid:'location'}}
                                                {{form.location.errors}}
                                            </div>
                                            <!--begin::Col-->
                                            <div class="d-flex flex-column mb-5 fv-row">
                                                
                                                <label class="required fs-5 fw-semibold mb-2">Plot</label>
                                                
                                                
                                                {{form.plot|addclass:'form-control form-control-solid'|addid:'plot'}}
                                                {{form.plot.errors}}

                                            </div>
                                            <div class="d-flex flex-column mb-5 fv-row">
                                                
                                                <label class="required fs-5 fw-semibold mb-2">Select Plot
                                                    Availability</label>
                                                
                                                
                                                {{form.plot_availability|addclass:'form-control form-control-solid'|addid:'plot_availability'}}
                                                {{form.plot_availability.errors}}

                                            </div>
                                            <div class="d-flex flex-column mb-5 fv-row">
                                                
                                                <label class="required fs-5 fw-semibold mb-2">Payment Method</label>
                                                
                                                 
                                                {{form.payment_method|addclass:'form-control form-control-solid'|addid:'payment_method'}}
                                                {{form.payment_method.errors}}
                                            </div>

                                            <div class="d-flex flex-column d-none mb-5 fv-row" id="chequeNumber">
                                                
                                                <label class="fs-5 fw-semibold  mb-2" id="chequeNumberLebel">Cheque Number</label>
                                                <label class="fs-5 fw-semibold d-none mb-2" id="DDNumberLebel">DD Number</label>
                                                {{form.cheque_number|addclass:'form-control form-control-solid'|addid:'cheque_number'}}
                                                {{form.cheque_number.errors}}
                                            </div>
                                            
                                            <div class="d-flex flex-column mb-5 fv-row">
                                                
                                                <label class="required fs-5 fw-semibold mb-2">Booking Method</label>
                                                
                                                 
                                                {{form.booking_method|addclass:'form-control form-control-solid'|addid:'booking_method'}}
                                                {{form.booking_method.errors}}
                                            </div>
                                            <div class="d-flex flex-column mb-5 fv-row">
                                                
                                                <label class="required fs-5 fw-semibold mb-2">EMI Period</label>
                                                
                                                
                                                {{form.emi_period|addclass:'form-control form-control-solid'|addid:'emi_period'}}
                                                {{form.emi_period.errors}}

                                            </div>
                                            <div class="d-flex flex-column mb-5 fv-row">
                                                
                                                <label class="required fs-5 fw-semibold mb-2">Total Amount</label>
                                                
                                                
                                                {{form.total_amount|addclass:'form-control form-control-solid'|addid:'total_amount'}}
                                                {{form.total_amount.errors}}

                                            </div>
                                            
                                            <div class="d-flex flex-column mb-5 fv-row">
                                                
                                                <label class="required fs-5 fw-semibold mb-2">Down Payment</label>
                                                
                                                
                                                {{form.down_payment|addclass:'form-control form-control-solid'|addid:'down_payment'}}
                                                {{form.down_payment.errors}}

                                            </div>
                           
          

                                            <div class="d-flex flex-column mb-5 fv-row">
                                                
                                                <label class="required fs-5 fw-semibold mb-2">Customer Name</label>
                                                
                                                
                                                {{form.customer_name|addclass:'form-control form-control-solid'|addplaceholder:'Customer Name'}}
                                                {{form.customer_name.errors}}
                                            </div>
                                            <div class="d-flex flex-column mb-5 fv-row">
                                                
                                                <label class="required fs-5 fw-semibold mb-2">Customer Father Name</label>
                                                
                                                
                                                {{form.customer_father_name|addclass:'form-control form-control-solid'|addplaceholder:'Customer Father Name'}}
                                                {{form.customer_father_name.errors}}
                                            </div>
                                            <div class="d-flex flex-column mb-5 fv-row">
                                                
                                                <label class="required fs-5 fw-semibold mb-2">Customer Phone No.</label>
                                                
                                                
                                                {{form.customer_phone|addclass:'form-control form-control-solid'|addplaceholder:'Customer Phone'}}
                                                {{form.customer_phone.errors}}
                                            </div>
                                            <div class="d-flex flex-column mb-5 fv-row">
                                                
                                                <label class="required fs-5 fw-semibold mb-2">Plot Number</label>
                                                
                                                
                                                {{form.plot_number|addclass:'form-control form-control-solid'|addplaceholder:'Plot Number'}}
                                                {{form.plot_number.errors}}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row justify-content-between">
                                            <div class="col-xs-12 col-sm-12 col-md-4 ">
                                                <a href="/app/booking-list" class="btn btn-secondary mr-0 d-block d-md-inline-block">
                                                    <i class="fas fa-caret-left"></i>List</a>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 text-right">
                                                <button type="submit" class="btn  btn-primary mr-0 btn-block">
                                                    <i class="fas fa-save"></i>Submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <!--end::Form-->
                                </div>
                                <!--end::Content-->
                            </div>
                        </div>
                        <!--end::Layout-->
                    </div>

                </div>
                <!--end::Body-->
            </div>
            <!--end::Careers - Apply-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
{% block js%}
<script>
    $(document).ready(function() {
        $("#location").select2({
            placeholder: "Select City"
        });
        $("#plot").select2({
            placeholder: "Select Plot"
        });
        $("#plot_availability").select2({
            placeholder: "Select Plot Availability"
        });
        $("#payment_method").select2({
            placeholder: "Payment Method"
        });
        $("#booking_method").select2({
            placeholder: "Booking Method"
        });
        $("#emi_installments").select2({
            placeholder: "EMI Installment"
        });
        
        // On Change Append Input Box
        $('#payment_method').on('change', function () {
            var value = $(this).val();
            console.log(value);

            $('#chequeNumber, #DDNumber').addClass('d-none');

            if (value === 'Cheque') {
                $('#chequeNumber').removeClass('d-none');
            } else if (value === 'DD') {
                $('#chequeNumber').removeClass('d-none');
                $('#chequeNumberLebel').addClass('d-none');
                $('#DDNumberLebel').removeClass('d-none');
            }
        });

    });
</script>
{% endblock %}
{% endblock %}