{% extends 'home/base.html' %}
{% block body %}
{% load static %}
 
        <section class="single-listing-wrap1">
            <div class="container">
                <div class="single-property">
                    <div class="content-wrapper">
                        <div class="property-heading">
                            
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-12">
                                    <div class="single-verified-area">
                                        <div class="item-title">
                                            <h3><a href="javascript:void()">Green Valley</a></h3>
                                        </div>
                                    </div>
                                    <div class="single-item-address">
                                        <ul>
                                            <li><i class="fas fa-map-marker-alt"></i>Near RTO office Khairabad Sitapur
 
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="single-property-banner">
                            <div class="row gutters-5">
                                <div class="col-lg-6">
                                    <div class="single-listing-box2">
                                        <div class="item-img">
                                            <img src="img/blog/listing3.jpg" alt="blog" width="658" height="460">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row gutters-5">
                                        <div class="col-lg-6">
                                            <div class="single-listing-box3">
                                                <div class="item-img">
                                                    <img src="img/blog/listing4.jpg" alt="blog" width="600" height="425">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="single-listing-box3">
                                                <div class="item-img">
                                                    <img src="img/blog/listing5.jpg" alt="blog" width="600" height="425">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="single-listing-box4">
                                                <div class="item-img">
                                                    <img src="img/blog/listing6.jpg" alt="blog" width="605" height="205">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="single-listing-box1">
                                    
                                    <div class="overview-area listing-area">
                                        <h3 class="item-title">About This Listing</h3>
                                        <p>Praesent eros turpis, commodo vel justo at, pulvinar mollis eros. Mauris aliquet eu
                                            quam id ornareor
                                            bi ac quam enim. Cras vitae nulla condimentum, semper dolor non, faucibus dolor.
                                            Vivamus adip
                                            iscing eros quis orci fringilla, sed pretium lectus viverra. Pellentesque habitant
                                            morbi tristique
                                            senectus et netus et malesuada fames ac turpis egestas.
                                        </p>
                                        <p>Praesent eros turpis, commodo vel justo at, pulvinar mollis eros. Mauris aliquet eu
                                            quam id ornareor
                                            bi ac quam enim. Cras vitae nulla condimentum, semper dolor non, faucibus dolor.
                                            Vivamus adip
                                            iscing eros quis orci fringilla, sed pretium lectus viverra.
                                        </p>
                                    </div>
                                    
                                    <div class="overview-area ameniting-box">
                                        <h3 class="item-title">Features & Amenities</h3>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <ul class="ameniting-list">
                                                    <li><i class="fas fa-check-circle"></i>TV Cable</li>
                                                    <li><i class="fas fa-check-circle"></i>Air Conditioning</li>
                                                    <li><i class="fas fa-check-circle"></i>Barbeque</li>
                                                    <li><i class="fas fa-check-circle"></i>Gym</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul class="ameniting-list">
                                                    <li><i class="fas fa-check-circle"></i>Swimming Pool</li>
                                                    <li><i class="fas fa-check-circle"></i>Laundry</li>
                                                    <li><i class="fas fa-check-circle"></i>Microwave</li>
                                                    <li><i class="fas fa-check-circle"></i>Lawn</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul class="ameniting-list">
                                                    <li><i class="fas fa-check-circle"></i>Sauna</li>
                                                    <li><i class="fas fa-check-circle"></i>Window Coverings</li>
                                                    <li><i class="fas fa-check-circle"></i>CC Camera</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overview-area map-box">
                                        <h3 class="item-title">Map Location</h3>
                                        <div class="item-map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14604.942936504207!2d90.42287424999999!3d23.774618500000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1640231732625!5m2!1sen!2sbd" width="731" height="349" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
                                    </div>
                                   
                                    <div class="overview-area video-box1">
                                        <h3 class="item-title">Property Video</h3>
                                        <div class="item-img">
                                            <img src="img/blog/listing1.jpg" alt="map" width="731" height="349">
                                            <div class="play-button">
                                                <div class="item-icon">
                                                    <a href="http://www.youtube.com/watch?v=1iIZeIy7TqM" class="play-btn play-btn-big">
                                                        <span class="play-icon style-2">
                                                            <i class="fas fa-play"></i>
                                                        </span>
                                                    </a>
                                                </div>
                
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-4 widget-break-lg sidebar-widget">
                                <div class="widget widget-contact-box">
                                    <h3 class="widget-subtitle">Contact Agent</h3>
                                    <div class="media d-flex">
                                        <div class="flex-shrink-0">
                                          <div class="item-logo">
                                            <img
                                              src="img/theme2.png"
                                              alt="logo"
                                              width="100"
                                              height="100"
                                            />
                                          </div>
                                        </div>
                                        <div class="media-body flex-grow-1 ms-3">
                                          <h4 class="item-title">RadiusTheme</h4>
                                          <div class="item-phn">
                                            + 132 899 6XXX <a href="single-listing1.html"><span>(Show)</span></a>
                                          </div>
                                          <div class="item-mail">agent@radiustheme.com</div>
                                          <div class="item-rating">
                                            <ul>
                                              <li><i class="fas fa-star"></i></li>
                                              <li><i class="fas fa-star"></i></li>
                                              <li><i class="fas fa-star"></i></li>
                                              <li><i class="fas fa-star"></i></li>
                                              <li><i class="fas fa-star"></i></li>
                                              <li class="rating-count">(Reviews 15)</li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    <ul class="wid-contact-button">
                                        <li><a href="contact.html"><i class="fas fa-comment"></i>Quick Chat</a></li>
                                        <li><a href="contact.html"><i class="fas fa-share-alt"></i>Share</a></li>
                                    </ul>
                                    <form class="contact-box rt-contact-form">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <input type="text" class="form-control" name="fname"
                                                    placeholder="Your Full Name" data-error="First Name is required" required>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <input type="text" class="form-control" name="phone" placeholder="Phone"
                                                    data-error="Phone is required" required>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <input type="text" class="form-control" name="phone" placeholder="E-mail"
                                                    data-error="Phone is required" required>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <textarea name="comment" id="message" class="form-text" placeholder="Message"
                                                    cols="30" rows="4" data-error="Message Name is required"
                                                    required></textarea>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <div class="advanced-button">
                                                    <button class="item-btn">Send Message</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-response"></div>
                                    </form>
                                </div>
                                <div class="widget widget-listing-box1">
                                    <h3 class="widget-subtitle">Latest Listing</h3>
                                    <div class="item-img">
                                        <a href="single-listing1.html"><img src="img/blog/widget1.jpg" alt="widget" width="540" height="360"></a>
                                        <div class="item-category-box1">
                                            <div class="item-category">For Rent</div>
                                        </div>
                                    </div>
                                    <div class="widget-content">
                                        <div class="item-category10"><a href="single-listing1.html">Villa</a></div>
                                        <h4 class="item-title"><a href="single-listing1.html">Modern Villa for House Highland Ave Los Angeles</a>
                                        </h4>
                                        <div class="location-area"><i class="flaticon-maps-and-flags"></i>Downey, California</div>
                                        <div class="item-price">$11,000<span>/mo</span></div>
                                    </div>
                                    <div class="widget-listing">
                                        <div class="item-img">
                                            <a href="single-listing1.html"><img src="img/blog/widget2.jpg" alt="widget" width="120" height="102"></a>
                                        </div>
                                        <div class="item-content">
                                            <h5 class="item-title"><a href="single-listing1.html">House Highland Ave Los Angeles</a></h5>
                                            <div class="location-area"><i class="flaticon-maps-and-flags"></i>Washington</div>
                                            <div class="item-price">$3,000<span>/mo</span></div>
                                        </div>
                                    </div>
                                    <div class="widget-listing">
                                        <div class="item-img">
                                            <a href="single-listing1.html"><img src="img/blog/widget3.jpg" alt="widget" width="120" height="102"></a>
                                        </div>
                                        <div class="item-content">
                                            <h5 class="item-title"><a href="single-listing1.html">House Highland Ave Los Angeles</a></h5>
                                            <div class="location-area"><i class="flaticon-maps-and-flags"></i>Washington</div>
                                            <div class="item-price">$1,200<span>/mo</span></div>
                                        </div>
                                    </div>
                                    <div class="widget-listing no-brd">
                                        <div class="item-img">
                                            <a href="single-listing1.html"><img src="img/blog/widget4.jpg" alt="widget" width="120" height="102"></a>
                                        </div>
                                        <div class="item-content">
                                            <h5 class="item-title"><a href="single-listing1.html">House Highland Ave Los Angeles</a></h5>
                                            <div class="location-area"><i class="flaticon-maps-and-flags"></i>Washington</div>
                                            <div class="item-price">$1,900<span>/mo</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget widget-contact-box widget-price-range">
                                    <h3 class="widget-subtitle">Mortgage Calculator</h3>
                                    <p>Dorem ipsum dolor sit amet, consectetur adipisc
                                        ing elit. Nunc posuere.
                                    </p>
                                    <form class="contact-box">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label class="item-loan">Loan Amount :</label>
                                                <input type="text" class="form-control" name="fname" placeholder="$00.00"
                                                    data-error="First Name is required" required>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label class="item-loan">Down Payment :</label>
                                                <input type="text" class="form-control" name="phone" placeholder="$00.00"
                                                    data-error="Phone is required" required>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label class="item-loan">Years :</label>
                                                <input type="text" class="form-control" name="phone" placeholder="12 Years"
                                                    data-error="Phone is required" required>
                                            </div>
                                        </div>
                                    </form>
        
                                    <div class="price-range-wrapper">
                                        <div class="price-filter-wrap d-flex align-items-center">
                                            <div class="price-range-select">
                                                <div class="price-range range-title">Interest Rate in:</div>
                                                <div class="price-range" id="price-range-min"></div>
                                                <div class="price-range">:</div>
                                                <div class="price-range" id="price-range-max"></div>
                                            </div>
                                        </div>
                                        <div id="price-range-filter" class="price-range-filter"></div>
                                    </div>
        
                                    <ul class="wid-contact-button wid-contact-button-2">
                                        <li><a href="single-listing1.html" class="active">Calculate</a></li>
                                        <li><a href="single-listing1.html"><i class="fas fa-sync-alt"></i>Reset Form</a></li>
                                    </ul>
                                </div>
                                <div class="widget widget-post">
                                    <div class="item-img">
                                        <img src="img/blog/widget5.jpg" alt="widget" width="690" height="850">
                                        <div class="circle-shape">
                                            <span class="item-shape"></span>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <h4 class="item-title">Find Your Dream House</h4>
                                        <div class="item-price">$2,999</div>
                                        <div class="post-button"><a href="single-listing1.html" class="item-btn">Shop Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            </div>
            </div>
        </section>
    <!--=====================================-->
    <!--=   Property     Start              =-->
    <!--=====================================-->
    {% endblock  %}